<h1 style="text-align: center;">All Atlanta Scenes</h1>

<% @pictures.each do |picture| %>
  <img src="<%= picture.image_url %>" alt="<%= picture.title %>" style=" height: 300px; padding:10px;">
<% end %>
